PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
DATABASE_URL = DATABASE_URL="postgresql://postgres:123@localhost:5432/dulcebaby"
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=